!!!
%head
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' type='text/css' href='assets/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7494032/697204/css/fonts.css" />
%body
  = yield

